<p-menubar [model]="items">
  <ng-template #start>
    <div class="flex align-items-center mr-4">
      <span class="font-bold text-xl">DhenTech</span>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex align-items-center gap-2">
      <p-button
        [icon]="app.isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'"
        (onClick)="toggleTheme()"
        [rounded]="true"
        [text]="true"
        [severity]="$any(buttonSeverity())"
        pTooltip="Alternar Tema" />

      <p-button
        label="Sair"
        icon="pi pi-sign-out"
        severity="danger"
        [text]="true"
        (onClick)="logout()" />
    </div>
  </ng-template>
</p-menubar>
