.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  .buttons-wrapper {
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
}

.p-input-icon-left {
  i {
    color: var(--text-color-secondary);
  }
}

:host ::ng-deep {
  .p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: var(--surface-ground);
  }

  .text-right {
    display: flex;
    justify-content: flex-end;
  }

  .p-paginator {
    justify-content: flex-end;
    padding: 1rem;
    background: var(--surface-ground);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .p-paginator-current {
      margin-right: auto;
      font-size: 0.875rem;
      color: var(--text-color-secondary);
    }
  }
}

#fileInput {
  display: none;
}

.card {
  padding: 1.5rem;
  padding-left: 2rem;
  margin: 1rem;
  background: var(--surface-card);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .header-container {
    h2 {
      margin-left: 0.5rem;
      color: var(--text-color);
    }
  }
}

.flex.mb-4,
.p-datatable {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.filterCustom {
  margin-left: 10px;
  margin-bottom: 5px;
}

.action-th-custom {
  width: 5rem;
}
