<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h1>Bem-vindo</h1>
      <p>Acesse o Gerenciador de Usuários</p>
    </div>

    <form (submit)="handleLogin(); $event.preventDefault()">
      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" [ngModel]="email()" (ngModelChange)="email.set($event)"
               name="email" placeholder="Ex: admin@example.com" required>
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" id="password" [ngModel]="password()" (ngModelChange)="password.set($event)"
               name="password" placeholder="••••••••" required>
      </div>

      @if (errorMessage()) {
        <div class="error-banner">
          {{ errorMessage() }}
        </div>
      }

      <button type="submit" class="btn-login">Entrar</button>
    </form>
  </div>
</div>
