.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);


  .error-container {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: #fee2e2;
    color: #b91c1c;
  }
}

:host ::ng-deep {
  .text-right {
    text-align: right !important;
    display: flex !important;
    justify-content: flex-end !important;
  }

  .grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }

  p-table {
    display: block;
    margin-top: 2rem !important;
  }

  .justify-content-end {
    justify-content: flex-end !important;
  }

  .btn-actions {
    .p-button {
      color: #374151 !important;

      .p-button-icon {
        font-size: 1.1rem !important;
        color: #374151 !important;
        font-weight: 700 !important;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05) !important;
      }
    }
  }

  .text-danger .p-menuitem-link {
    .p-menuitem-text, .p-menuitem-icon {
      color: #dc2626 !important;
    }
  }

  .ml-auto {
    margin-left: auto !important;
  }

  @media screen and (min-width: 768px) {
    .justify-content-end {
      display: flex !important;
      justify-content: flex-end !important;
      text-align: right;
    }
  }
}
