.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

  h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
  }

  .error-container {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: #fee2e2;
    color: #b91c1c;
  }
}

:host ::ng-deep {
  .btn-actions {
    .p-button {
      color: #374151 !important; // Cor chumbo para contraste

      .p-button-icon {
        font-size: 1.1rem !important; // Tamanho ideal para 180Hz
        color: #374151 !important;
        font-weight: 700 !important;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05) !important;
      }
    }
  }

  // Estilo para o item de exclusão (apenas para ADMIN)
  .text-danger .p-menuitem-link {
    .p-menuitem-text, .p-menuitem-icon {
      color: #dc2626 !important;
    }
  }
}
